<div class="container mt-5">
  <form (ngSubmit)="onSend()" class="col g-3" #form=ngForm>
    <div class="col-lg-6">
      <input
        type="text"
        class="form-control input"
        placeholder="Author"
        aria-label="name"
        name="name"
        ngModel
      >
    </div>
    <div class="col-lg-6 mt-3 mb-3">
      <textarea
        class="form-control
        textarea" name="post"
        placeholder="Enter your message"
        required
        ngModel
      ></textarea>
    </div>
    <div class="col-12">
      <button
        type="submit"
        class="btn btn-primary
        mb-5"
        [disabled]="form.form.value.name === '' || form.form.value.post === ''"
      >Send message</button>
    </div>
  </form>
</div>
